*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.banner{
    width :100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("media/bbb2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar{
    width:85%;
    margin:auto;
    padding:35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width:120px;
    cursor:pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration:none;
    color:#fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content:'';
    height:3px;
    width:0;
    background: #009688;
    position:absolute;
    left:0;
    bottom:-10px;
    transition: 0.5s;

}
.navbar ul li:hover:after{
    width:100%;
}
.content{
    width:100%;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    text-align: center;
    color:#fff;
}

.content h1 {
    font-size: 80px;
    margin-top:50px;

}

.content p{
   margin: 20px auto;
   font-weight:100;
   line-height:25px;
}

button{
    width:200px;
    padding:15px 0;
    text-align:center;
    margin:20px 10px;
    border-radius:25px;
    font-weight:bold;
    border:2px solid #009688;
    background: transparent;
    color:#fff;
    cursor:pointer;
    position: relative;
    overflow: hidden;
}

    
.Wel{
    width:100%;
    text-align: center;
    position:absolute;
    color:aliceblue;
    top:50%;
    
    align-items:start;
}

.Wel h1{


    font-size: 45px;
    font-weight: 500;
}

.Wel h2{
    font-size: 40px;
    font-weight: 300;
}

.Wel hr{
    width:50%;
    border:none;
    height:5px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom:15px;
    text-align: center;
    margin-left:25%;
}


.add{
    width:100%;
    height:100vh;
    padding:3%;
    text-align:center;
    background-image: linear-gradient(rgba(197, 197, 197, 0.75), rgba(125, 125, 125, 0.75)), url("backadd.jpg");
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
}

.form-box{
    width:60%;
    margin-left:20%;
    margin-top:10px;
    border:1px solid black;
    border-radius:10px;
    padding:2%;
    background-color: cornsilk;
    height:80vh;
}

.form-box label{
    font-size: 22px;
    font-family:'Poppins', sans-serif;
    padding:2%;
   font-weight: 500;

}

.add h1{
    font-size: 2vw;
    font-family:'Poppins', sans-serif;
}

.form-box input{
    padding:1%;
    margin-top:2%;
}
.det{
    border:1px solid black;
    border-radius: 100px;
    font-size: 18px;
    padding:2%;
    background-color: rgb(201, 148, 148);
    cursor:pointer;
}

.det:hover{
    border:1px solid black;
    border-radius: 100px;
    font-size: 18px;
    padding:2%;
    background-color:rgb(55, 9, 78);
    cursor:pointer;
    color:aliceblue;
    transition: 0.5s;
}

span{
    background: #009688;
    height:100%;
    width:0;
    border-radius:25px;
    position:absolute;
    left:0;
    bottom:0;
    z-index:-1;
    transition:0.5s;
}

button:hover span{
width:100%;
}
button:hover{
    border:none;
}