*{
    margin:0;
    padding:0;
    font-family: 'Poppins' , sans-serif;
}

html {
    scroll-behavior: smooth;
  }

.banner{
    width :100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("media/bbb2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar{
    width:85%;
    margin:auto;
    padding:35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width:120px;
    cursor:pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration:none;
    color:#fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content:'';
    height:3px;
    width:0;
    background: #009688;
    position:absolute;
    left:0;
    bottom:-10px;
    transition: 0.5s;

}
.navbar ul li:hover:after{
    width:100%;
}
.Wel{
    width:100%;
    text-align: center;
    position:absolute;
    color:aliceblue;
    top:50%;
    
    align-items:start;
}

.Wel h1{


    font-size: 45px;
    font-weight: 500;
}

.Wel h2{
    font-size: 40px;
    font-weight: 300;
}

.Wel hr{
    width:50%;
    border:none;
    height:5px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom:15px;
    text-align: center;
    margin-left:25%;
}

.content{
    height: 40vh;
    font-family: 'Poppins', sans-serif;
    color:black;
    text-align: center;
    padding: 4%;
   
}

.content h3{
    font-size: 40px;
    font-weight: 600;
    color: rgb(61, 61, 61);
    margin-bottom: 25px;
}

.form-box{
    width:50%;
    margin-left: 25%;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.form-box select{
    background-color: rgb(197, 138, 65);
    color: black;
    border-radius: 10px;
    border: double 5px rgb(49, 49, 49);
    font-size: 18px;
    padding:2%;
    cursor:pointer;
}

.form-box button{

    background-color:  rgb(49, 49, 49);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: double 5px  rgb(197, 138, 65);
    font-size: 18px;
    padding:2%;
    cursor:pointer;
}


.footer{
    background-color: black;
    width :100%;
    height:50vh;
    color:#eaeaea;
    text-align:center;
    padding-top:50px;
    border-top: 1px solid #fff;
   
}

.footerAM ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    color:#eaeaea;
    text-decoration: none;
    margin-top:3%;
    padding:3%;
}

.footerAM ul li a{
    text-decoration:none;
    color:#fff;
    text-transform: uppercase;
}

.footerH1{
    margin: top 5%;
}
